nav {
    height: 100%;
    border-left: 1px solid gray;
  }
  
  nav ul {
    list-style: none;
  }
  
  .menu {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    gap: 10px;
    justify-content: space-between;
  }
  
  .menu li {
    position: relative;
  }
  
  .li-space {
    display: flex;
    margin: auto;
  }
  
  .menu .submenu {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 500px;
    top: 0;
    right: 170px;
    background-color: #ffffff;
    border: 4px solid rgb(255, 255, 255);
  }
  
  .menu>li:hover .submenu {
    display: flex;
  }