.Kartis-Lakoh-Sapak{
    direction: rtl;
    width: 60vw;
    color: blue;
    font-weight: bolder;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

input{
    height: 30px;
    border: 1.5px solid blue;
    margin: 0 5px;
}

.options{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.top{
    display: flex;
    justify-content: end;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.right{
    float: right;
}

.left{
    float: left;
}
