.App {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    direction: rtl;
    background-color: var(--background-color);
    border: 3px solid rgb(0, 247, 255);
    font-size: 18px;
  }

  
  main {
    display: grid;
    grid-template-rows: 65% 30% 1fr;
  }
  
  header {
    border-bottom: 3px solid rgb(202, 202, 202);
  }
  
  header span {
    float: left;
    color: #ff0909;
    padding: 10px;
  }
  
  section {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .left {
    position: relative;
    direction: ltr;
  }
  
  .options-menu {
    float: left;
    display: flex;
    gap: 15px;
    padding: 0 20px;
    border: 1px solid gray;
    height: 100%;
    align-items: center;
  }
  
  button{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
  }
  
  .options-menu li {
    background-color: #0011ff;
    color: white;
    font-size: 0.8em;
    height: 25px;
    padding: 5px 10px 0 10px;
    cursor: pointer;
    border: none;
  }
  