* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: rgb(0, 0, 0);
  --button-background-color: #0011ff;
  --button-background-hover-color: #ff0909;
  --button-text-color: #ececec;
  --button-text-hover-color: #e1ec6a;
  --button-border-color: #e1ec6a;
  --secondary-color: #6c757d;
  --clock-numbers-color: white;
  --clock-hand-seconds: rgb(255, 255, 255);
  --clock-hand-minutes: white;
  --clock-hand-hours: #ff105e;
}

